NEXT_PUBLIC_SUPABASE_URL=https://kdhdtdwayqdbkxbbpawm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_anon_key_aqui
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui

NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=sua_public_key_aqui
MERCADOPAGO_ACCESS_TOKEN=seu_access_token_aqui
NEXT_PUBLIC_SITE_URL=https://vivalevedf.com.br
MERCADOPAGO_SITE_URL=https://vivalevedf.com.br

OPENAI_API_KEY=sua_openai_api_key_aqui
OPENAI_MODEL=gpt-4.1-mini
